<div class="dark:bg-black">
    <div class="container mx-auto w-full p-5 ">
    <div class="w-full  flex-wrap max-sm:grid-cols-1 md:grid-cols-2 grid lg:grid-cols-3">
        <div class="w-full p-5  ">
            <div class="  bg-white border  rounded-lg shadow-sm dark:bg-white ">
        <div>
            <img class="rounded-t-lg h-52 w-full object-cover" src="./images/about-images/imageye___-_imgi_2_6.jpg" alt="" />
        </div>
        <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Card 1</h5>
            <p class="mb-3 font-normal text-gray-700 ">This is The First Card.</p>
        </div>
            </div>
        </div>
        <div class="w-full p-5  ">
            <div class="  bg-white border  rounded-lg shadow-sm dark:bg-white ">
        <div>
            <img class="rounded-t-lg h-52 w-full object-cover" src="./images/about-images/imageye___-_imgi_3_5.jpg" alt="" />
        </div>
        <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Card 2</h5>
            <p class="mb-3 font-normal text-gray-700 ">This is The Second Card.</p>
        </div>
            </div>
        </div>
        <div class="w-full p-5  ">
            <div class="  bg-white border  rounded-lg shadow-sm dark:bg-white ">
        <div>
            <img class="rounded-t-lg h-52 w-full object-cover" src="./images/about-images/imageye___-_imgi_4_bg6.jpg" alt="" />
        </div>
        <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Card 3</h5>
            <p class="mb-3 font-normal text-gray-700 ">This is The Third Card.</p>
        </div>
            </div>
        </div>
        <div class="w-full p-5  ">
            <div class="  bg-white border  rounded-lg shadow-sm dark:bg-white ">
        <div>
            <img class="rounded-t-lg h-52 w-full object-cover" src="./images/about-images/imageye___-_imgi_9_ales-nesetril-Im7lZjxeLhg-unsplash-EFNYJM67.jpg" alt="" />
        </div>
        <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Card 4</h5>
            <p class="mb-3 font-normal text-gray-700 ">This is The Fourth Card.</p>
        </div>
            </div>
        </div>
        <div class="w-full p-5  ">
            <div class="  bg-white border  rounded-lg shadow-sm dark:bg-white ">
        <div>
            <img class="rounded-t-lg h-52 w-full object-cover" src="./images/about-images/imageye___-_imgi_7_bg2.jpg" alt="" />
        </div>
        <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Card 5</h5>
            <p class="mb-3 font-normal text-gray-700 ">This is The fifth Card.</p>
        </div>
            </div>
        </div>
        <div class="w-full p-5  ">
            <div class="  bg-white border  rounded-lg shadow-sm dark:bg-white ">
        <div>
            <img class="rounded-t-lg h-52 w-full object-cover" src="./images/about-images/imageye___-_imgi_5_23.jpg" alt="" />
        </div>
        <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Card 6</h5>
            <p class="mb-3 font-normal text-gray-700 ">This is The sixth Card.</p>
        </div>
            </div>
        </div>
        <div class="w-full p-5  ">
            <div class="  bg-white border  rounded-lg shadow-sm dark:bg-white ">
        <div>
            <img class="rounded-t-lg h-52 w-full object-cover" src="./images/about-images/imageye___-_imgi_8_full-screen-smartphone-mockup-design_53876-65968.webp" alt="" />
        </div>
        <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Card 7</h5>
            <p class="mb-3 font-normal text-gray-700 ">This is The seventh Card.</p>
        </div>
            </div>
        </div>
        <div class="w-full p-5  ">
            <div class="  bg-white border  rounded-lg shadow-sm dark:bg-white ">
        <div>
            <img class="rounded-t-lg h-52 w-full object-cover" src="./images/about-images/imageye___-_imgi_9_smartphone-mockup_1310-812.webp" alt="" />
        </div>
        <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Card 8</h5>
            <p class="mb-3 font-normal text-gray-700 ">This is The eighth Card.</p>
        </div>
            </div>
        </div>
        <div class="w-full p-5  ">
            <div class="  bg-white border  rounded-lg shadow-sm dark:bg-white ">
        <div>
            <img class="rounded-t-lg h-52 w-full object-cover" src="./images/about-images/imageye___-_imgi_10_phone-mockup-brown-background-vector_53876-164914.jpg" alt="" />
        </div>
        <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Card 9</h5>
            <p class="mb-3 font-normal text-gray-700 ">This is The nineth Card.</p>
        </div>
            </div>
        </div>
    </div>
    </div>
</div>

<app-footer />