<div class=" w-full bg-black/85 p-10 ">
    <div class="flex justify-between">
        <div>
            <img src="./images/footer/imageye___-_imgi_11_asset 18.png" alt="">
        </div>
        <div class="text-white ">
            <i class="p-4 hover:cursor-pointer fa-brands fa-facebook fa-lg"></i>
            <i class="p-4 hover:cursor-pointer fa-brands fa-twitter"></i>
            <i class="p-4 hover:cursor-pointer fa-brands fa-square-linkedin"></i>
            <i class="p-4 hover:cursor-pointer fa-brands fa-youtube"></i>
        </div>
    </div>
</div>